<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Community Connect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="banner">
        <h1>🌍 Community Connect</h1>
        <p>Empowering volunteers, one project at a time</p>
      </div>

      <form method="POST">
        <label>Enter your registered email:</label>
        <input id="email" type="email" name="email" placeholder="john.doe@gmail.com" required />
        <button type="submit">Verify Email</button>
      </form>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p style="color: red;">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

</body>

</html>

  