<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Community Connect - Volunteer Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
  <div class="banner">
    <h1>🌍 Community Connect</h1>
    <p>Empowering volunteers, one project at a time</p>
  </div>

  <div class="form-box">
    <h2>Register Now</h2>
    <form method="POST" action="/register">
  	<label for="name">Full Name</label>
  	<input type="text" id="name" name="name" placeholder="Ashok Kumar" required />

  	<label for="email">Email Address</label>
  	<input type="email" id="email" name="email" placeholder="ashok@example.com" required />

  	<label for="password">Password</label>
  	<input type="password" id="password" name="password" placeholder="At least 6 characters" required />

  	<div class="extra-link">
    		<p> Already have an account? <a href="{{ url_for('home') }}">Back to Login</a> </p> <br>
  	</div>

  <button type="submit">Join Now</button>
</form>
  </div>
</body>
</html>
